.dropzone {
  height: 80%;
  width:100%;
  background: #E1FAEC;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  outline: 0;
}

.dropzone img {
  margin-bottom: 2rem;
  width: 100%;
  height: 95%;
  border-radius: 0.8rem;
  position: absolute;
  object-fit: cover;
}
.dropzone p {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-radius: 10px;
  border: 1px dashed #4ECB79;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.dropzone p svg {
  color: #4ECB79;
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}
